#!/usr/bin/env bash

export EDITOR="vim";
export PYTHONASYNCIODEBUG=1

export DOTNET_ROOT="/usr/local/share/dotnet/x64/"
export MANPAGER="less -X";

export GPG_TTY=$(tty)

# Increase history size
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSiZE}";
# Ignore duplicates
export HISTCONTROL="ignoreboth";

export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

export CLIP_DIR="$HOME/Videos/Clips"
export CLIP_DATA="$HOME/.config/clip/data"
export LSCOLORS="gxBxhxDxfxhxhxhxhxcxcx"

