#!/usr/bin/env bash

export EDITOR="vim";
export PYTHONASYNCIODEBUG=1

export MANPAGER="less -X";

export GPG_TTY=$(tty)

# Increase history size
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSiZE}";
# Ignore duplicates
export HISTCONTROL="ignoreboth";

export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';


# WSL config
if egrep -qi "Microsoft|WSL" /proc/version; then
  export DISPLAY=$(awk '/nameserver / {print $2; exit}' /etc/resolv.conf 2>/dev/null):0
  export LIBGL_ALWAYS_INDIRECT=1
fi;

