#!/usr/bin/env bash

function _dotnet_bash_complete() {
  local word=${COMP_WORDS[COMP_CWORD]}
  local completions
  completions="$(dotnet complete --position "${COMP_POINT}" "${COMP_LINE}" 2>/dev/null)"
  if [ $? -ne 0 ]; then
    completions=""
  fi
  COMPREPLY=( $(compgen -W "$completions" -- "$word") )
}
complete -f -F _dotnet_bash_complete dotnet

function kp() {
  sudo kill -9 $(sudo lsof -t -i:$1);
}

function gp() {
  sudo lsof -t -i:$1
}

function mkd() {
  mkdir -p "$@" && cd "$_";
}

function fs() {
  if du -b /dev/null > /dev/null 2>&1; then
    local arg=-sbh;
  else
    local arg=-sh;
  fi;
  if [[ -n "$@" ]]; then
    du $arg -- "$@";
  else
    du $arg .[^.]* ./*;
  fi;
}

function diff() {
  git diff --no-index --color-word "$@";
}

function ta() {
  for _pane in $(tmux list-panes -F '#P'); do
    for var in "$@"; do
      tmux send-keys -t ${_pane} $var;
      tmux send-keys -t ${_pane} Space;
    done;
    tmux send-key -t ${_pane} Enter;
  done;
}

function z() {
  d=$(date +'%Y%m%d%H%M%S')
  vim $HOME/zet/$d/README.md
  git --git-dir=$HOME/zet/.git --work-tree=$HOME/zet  add $d
  git commit --git-dir=$HOME/zet/.git --work-tree=$HOME/zet
}

source <(kubectl completion bash)
complete -F __start_kubectl k

