[user]
	email = me@stanvanrooy.com
	name = Stan van Rooy
[core]
	editor = vim
	excludesFile = $HOME/dotfiles/.gitignore.global
[commit]
  gpgsign = true

[push]
	default = current
[pull]
	rebase = true
